html {
    font-family: "Cabin", sans-serif;
}

body {
    padding: 0 2rem;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.87);
}

img {
    height: 100px;
    float: right;
}

h2 {
    display: inline;
    font-weight: bolder;
    font-size: 3rem;
}

ul {
    width: 350px;
    margin: auto;
    font-weight: 600;
}

.legend {
    list-style: none;
}

.legend li {
    float: left;
    margin-right: 10px;
}

.legend span {
    border: none;
    float: left;
    width: 15px;
    height: 15px;
    margin: 2px;
}

.legend .host-medals {
    background-color: #EE334E;
}

.legend .non-host-medals {
    background-color: rgba(204, 204, 204, 1);
}

#fill-1-nation {
    color: #00A651;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    display: inline;
}

#fill-1-region {
    color: #FCB131;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    display: none;
}

#fill-3-nation {
    color: #00A651;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    display: none;
}

#fill-3-region {
    color: #FCB131;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    display: none;
}

#title-1 {
    display: block;
}

#title-2-nation {
    display: none;
}

#title-2-region {
    display: none;
}

#title-3 {
    display: none;
}


.heading-1 {
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    text-transform: uppercase;
    padding-right: 1.5rem;
    flex: 5;
    margin-bottom: 0;
}


.subheading-1 {
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;
    flex: 7;
    margin-top: 0;
    width: 65rem;
    margin-bottom: 3rem;

}

.data-source {
    margin-top: 5rem;
    text-align: right;
    font-style: italic;
    font-weight: 500;
}

header {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
}

hr {
    border-top: 2px solid black;
    margin-bottom: 3rem;

}

.heading-2 {
    margin-top: 1.5rem;
    font-style: bold;
    font-weight: bolder;
    font-size: 16px;
    text-align: left;
}

.first-two {
    text-align: center;
}

form {
    display: inline-flex;
}

fieldset {
    justify-content: space-around;
    border: none;

}

.chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0.5rem;
    margin: .5rem .5rem;
    box-sizing: border-box;
    border-radius: 3rem;
    height: 2.5rem;
    font-size: 1rem;
    transition: 150ms;
    width: 10rem;
}

.chip--blue {
    background: rgba(0, 129, 200, 0.12);
    border: 1px solid #0081c8;
}

.chip--green {
    background: rgba(0, 166, 81, 0.12);
    border: 1px solid #00A651;
}

.chip--yellow {
    background: rgba(252, 177, 49, 0.12);
    border: 1px solid #FCB131;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+.chip {
    background: #0081c8;
    color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input[type="radio"]:hover+.chip {
    background: #0081c8;
    color: #fff;
}

input[type="radio"]:hover+.chip--yellow {
    background: #FCB131;
    color: #fff;

}

input[type="radio"]:checked+.chip--yellow {
    background: #FCB131;
    color: #fff;

}

input[type="radio"]:hover+.chip--green {
    background: #00A651;
    color: #fff;
}

input[type="radio"]:checked+.chip--green {
    background: #00A651;
    color: #fff;
}

select {
    font-family: "Cabin";
    font-size: 3rem;
    font-weight: bolder;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 1rem;
    border-radius: 3rem;
    outline: none;
}

option {
    font-size: 1rem;
}